/* *{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
} */
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.header{
    margin: 13 auto 15;
}
.header-ul{
    display: flex;
    gap: 62px;
}
.header-link{
    font-size: 14px;
    line-height: 14px;
    color: #1C1C1C;
    text-decoration: none;
}
.button{
height: 40px;
width: 157px;
border-radius: 20px;
background: #6F2CFF;
border: none;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
}
.button:hover{
    background-color: #74717a;
    transition: 3s;
    cursor: pointer;
}
.main{
    background: #F6BED9;
    padding: 58px 0 59px;
}
.main-title{
font-weight: 700;
font-size: 54px;
line-height: 61px;
max-width: 470px;
}
.main-title-violate{
    color: #6F2DFF;
}
.main-text{
margin: 18px 0;  
font-size: 18px;
line-height: 30px;
max-width: 470px;
}
.main-text-bold{
font-weight: 700;
}
.main-input{
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius: 28px 28px 28px 27.5px;
    padding-left: 26px;
}
.main-input::placeholder{
font-size: 15px;
line-height: 21px;
color: rgba(0, 0, 0, 0.27);
}
.main-input:focus{
    outline:none;
}
.main-button{
height: 45px;
width: 187px;
margin-left: 9px;
}
.face{
    margin: 136px auto;
}
.face-title{
font-weight: 700;
font-size: 40px;
line-height: 45px;
color: #1C1C1C;
max-width: 415.1138916015625px;
}
.face-flex{
    display: flex;
    gap: 34px;
}

.face-element{
    max-width: 333px;
    text-align: center;
}
.face-item{
    padding: 35px 0 85px;
    box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 7px 7px;
}
.face-pretitle{
    margin-bottom: 28px;
    font-size: 26px;
    line-height: 22px;
}
.face-text{
    font-size: 18px;
    line-height: 22px; 
    color: #6F2CFF; 
    max-width: 219px;  
    margin: 0 auto;
}

.commerc{
    margin: 136px auto;
    text-align: center;
}

.Commerc-title{
    font-size: 40px;
    line-height: 45px;
    font-weight: 700; 
    max-width: 387px;
    margin-left: auto;
    margin-right: auto;
}
.commerc-all{
    max-width: 1238px;
    margin-top: 79px;
    gap: 149px;
}
.commerc-pretitle{
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    max-width: 132px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 42px;
}
.commerc-text{
font-size: 15px;
line-height: 22px;
text-align: center;
max-width: 316px;
}

.
.footer{
    background: #20003C; 
    padding: 58px 0px; 
    height: 156px;
    margin-top: 136;
}
.footer-link{
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF; 
    text-decoration: none;
}
.footer-ul{
    display: flex;
    gap: 74px;  
}